html
	head
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(type="text/javascript", src="/javascripts/data.js")
		script(type="text/javascript", src="/javascripts/jquery-1.11.3.min.js")
		script(type="text/javascript", src="/javascripts/fingerprint.js")
		script(type="text/javascript", src="/javascripts/script.js")

	body
		div.left-arrow.arrows.fa.fa-arrow-circle-o-left
		div.right-arrow.arrows.fa.fa-arrow-circle-o-right
		div#vid-wrapper
			div#vid-slider
				div.clearfix
			
			div#other-content
				div#main-content.left
					h1 Welcome to Media App VOD!
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet suscipit nisl. Praesent at diam convallis, scelerisque lorem ut, placerat purus. Sed dictum mollis leo, a congue lacus venenatis sed. Mauris eleifend malesuada sollicitudin. Donec mauris sem, ultricies vitae dignissim elementum, placerat vel ipsum. Nulla nisi neque, mollis ut eros eget, egestas aliquet magna. Vivamus fermentum tincidunt magna, a lobortis nunc consequat sit amet. Phasellus vel mi sollicitudin elit tempor aliquam eget faucibus libero. Etiam ipsum tellus, posuere sed enim pellentesque, ornare bibendum tortor. Sed a tortor a magna porta tempor eu vehicula neque. Nam tempus elit neque, vitae blandit neque fermentum non. Donec venenatis semper libero, id auctor neque. Vivamus aliquet viverra augue, quis imperdiet erat porta ut. Suspendisse mattis interdum magna, ut consectetur dui mattis finibus.
					
					p Phasellus suscipit imperdiet ipsum, in pretium velit vestibulum nec. Phasellus iaculis sem eu enim aliquam aliquet. Donec sagittis lectus ut turpis imperdiet rhoncus. Proin vel consectetur nisi, eu auctor lectus. Curabitur eu gravida dui, condimentum consequat magna. Integer pharetra malesuada nibh nec venenatis. Donec porta lorem ac lorem finibus, sed placerat sem aliquam. In id augue vel ipsum pretium tempus a vel nibh. Curabitur sagittis ornare consequat. Suspendisse hendrerit vitae quam tempor posuere. Praesent quam diam, hendrerit ut lacinia vitae, interdum quis diam. Mauris egestas venenatis arcu, ut pulvinar metus interdum eu.
					
					p In cursus sollicitudin quam, sit amet sagittis risus facilisis sed. Nulla facilisi. Proin sollicitudin quis ante ac fringilla. In ac neque arcu. Aenean interdum est ipsum, non bibendum libero posuere in. Sed id iaculis lorem. Curabitur tempus urna id sagittis interdum. Nullam non quam felis. Phasellus tincidunt nibh eu tortor maximus commodo. Etiam cursus molestie vestibulum. Duis sit amet feugiat ligula.
					
				div#watched.left
					div.title
						div.fa.fa-refresh.left
						h2.left Recently Viewed
						div.clearfix
					ul
					
				div.clearfix

			
		